/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.gradientBg {
  position: relative;
}

.gradientBg::before {
  content: '';
  position: absolute;
  left: 0;
  top: -60px;
  width: 100%;
  height: calc(115% + 60px);
  background: linear-gradient(181.9deg, #DAE5FA 1.6%, rgba(179, 199, 238, 0) 98.06%);;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
